beautifulsoup4==4.4.1
dill==0.2.5
# todo check if 2.2.0 will work
gensim==2.2.0
# graph_tool==2.11
joblib==0.9.4
line_profiler==2.0
matplotlib==2.0.2
memory_profiler==0.43
networkx==1.11
nltk==3.2.1
numpy==1.12.0
pandas==0.20.1
Pattern==2.6
pyenchant==1.6.8
scikit_learn==0.18.2
scipy==0.19.0
simplejson==3.10.0
spacy==1.7
stemming==1.0.1
xlsxwriter==0.9.6
