beautifulsoup4 == 4.4.1
dill == 0.2.5
gensim == 0.12.4
graph_tool == 2.11
html5lib==1.0b8
joblib == 0.9.4
line_profiler == 1.0
matplotlib == 1.5.1
memory_profiler == 0.33
networkx == 1.11
nltk == 3.2.1
numpy == 1.11.0
pandas == 0.16.2
Pattern == 2.6
pyenchant == 1.6.6
scikit_learn == 0.17.1
scipy == 0.17.0
simplejson == 3.8.0
spacy == 1.6
stemming == 1.0.1
Unidecode == 0.04.19
unittest2 == 1.1.0
xlsxwriter == 0.8.4
